page-ourlist-detail {
  .thumbnail_overlay{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    font-family: Quicksand, sans-serif;
    margin: 0;
    background: #44A5CB;
    font-size: 12px;
    line-height: 1;
    padding: 5px 10px;    
  }

}
