<ion-header>

  <ion-navbar>
    <ion-title>みんなの地図 - 復旧/西日本豪雨</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()" disabled>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <agm-map #AgmMap
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    >
  
    <agm-marker 
        *ngFor="let m of ourmaps; let i = index"
        [latitude]="m.latlon.latitude"
        [longitude]="m.latlon.longitude"
        [iconUrl]="m.iconUrl"
    >
      
      <agm-info-window>
        <strong *ngIf="m.oldFlg"><font color="#f53d3d">※この情報はすでに古いとの情報が入っています</font></strong>
        <p>
          <small>投稿日時:{{ m.infoDate | date:'short' }}</small><br>
          <small>投稿者:{{ m.contributor }}</small>
        </p>
        <p>{{ m.title }}</p>
        <p><a href="http://maps.apple.com/?q={{m.latlon.latitude}},{{m.latlon.longitude}}">Googleマップで見る</a></p>
        <div [innerHtml]="m.description | multilineText"></div>
      </agm-info-window>

    </agm-marker>
  
  </agm-map>

</ion-content>
