page-search {
  .item.item-md .checkbox-md{
    margin: 9px 10px 9px 4px;
  }

  .item-md{
    padding-left: 10px;
    font-size: 1.4rem;
    height: 4.5rem;
  }
  
  .list-header-md{
    margin-bottom: 0px;
  }
  
}
