<form #myForm="ngForm" (ngSubmit)="submit($event)">
  <ion-item-divider color="light">
    絞り込み条件
    <button item-end ion-button color="light" small>
      条件を保存する
    </button>
  </ion-item-divider>
  
  <ion-list>
    <ion-list-header>情報</ion-list-header>
    <ion-item>
      <ion-label>古い可能性の情報も表示する</ion-label>
      <ion-checkbox [(ngModel)]="isOldDataDisplay" name="isOldDataDisplay"></ion-checkbox>
    </ion-item>
  </ion-list>
  
  <!--
  <ion-list *ngFor="let c of _categories;">
    <ion-list-header>{{c.group}}</ion-list-header>
    <ion-item *ngFor="let a of c.array;">
      <ion-label><img style="width:20px" src='../../../assets/mapmarker/{{a.icon}}.png'> {{a.name}}</ion-label>
      <ion-checkbox [(ngModel)]="a.isdisplay" name="{{a.value}}"></ion-checkbox>
    </ion-item>
  </ion-list>
  -->
</form>